.button {
    -fx-background-color: #00b9b0;

}
#root {
    -fx-padding: 10;
}
.button:hover {
    -fx-background-color: #007e71;
}
#buttonGridPane {
    -fx-border-style: hidden solid solid solid;
}
#buttonHBox {
    -fx-border-style: solid solid solid solid;
    -fx-padding: 5;
}
#leftBorderPane {
    -fx-padding: 10;
}
.table-view {
    -fx-padding: 10;
}
#magnitudeSlider {
    -fx-show-tick-labels: true;
    -fx-show-tick-marks: true;
    -fx-major-tick-unit: 1;
    -fx-minor-tick-count: 1;
}
#LocRechVBox {
    -fx-padding: 5;
}
#rechButton {
    -fx-background-color: #00d357;
}
#rechButton:hover {
    -fx-background-color: #009d3f;
}
